
*{

    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
.container{

    width: 100%;
    height:100vh;
    background-color: #bdbddd;
    display: flex;
    justify-content:center ;
    align-items: center;

}
.myName{
    color:darkred;
    font-size: 20px;
}
.calculator{
    background-color: #adadb9;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: -8px 8px 8px rgba(255, 255, 255, 0.1),-8px 8px 8px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 25px;
    color: #121246;
    cursor: pointer;
    margin: 10px;
}

form.display{
    display: flex;
    justify-content: flex-end;
    margin: 50px;
}
form.display input{
    text-align: center;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: #121246;
    background-color: #387c96;
}